
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}


/* Light Mode Scrollbar */
body {
    scrollbar-color: #4CAF50 #f0f0f0; /* thumb color and track color */
  }
  
  /* Dark Mode Scrollbar */
  @media (prefers-color-scheme: dark) {
    body {
      scrollbar-color: #4CAF50 #2b2b2b; /* thumb color and track color */
    }
  }
  
  /* Custom Scrollbar Styling */
  body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light mode track */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Thumb color */
    border-radius: 10px;
    border: 3px solid #f0f0f0; /* Light mode border color */
  }
  
  @media (prefers-color-scheme: dark) {
    body::-webkit-scrollbar-track {
      background: #2b2b2b; /* Dark mode track */
    }
  
    body::-webkit-scrollbar-thumb {
      background-color: #4CAF50; /* Thumb color */
      border: 3px solid #2b2b2b; /* Dark mode border color */
    }
  }
  